<html>
<head>
	<script src="jquery.min.js"></script>
	<style type="text/css">
		#tasks ul li {
			margin-top: 10px;
			border: 1px solid;
		}
	</style>
</head>
<body>
	<div class="entry">
		<h1>{{title}}</h1>
		{{#if error}}
		<h2>Ошибка! {{error}}</p>
		{{/if}}
		<div>
			<form id="createTask" method="post">
				<input type="text" name="task" placeholder="Текст задачи" />
				<label for="priority">Приоритет задачи: </label>
				<select name="priority">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
				</select>
				<input type="submit" /> 
			</form>

			<form id="editTask" method="post" style="display:none">
				<input type="hidden" name="change" value="0">
				<input type="text" name="task" placeholder="Текст задачи" />
				<label for="priority">Приоритет задачи: </label>
				<select name="priority">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
				</select>
				<input type="submit" /> 
			</form>
			<a href="#" id="cancelEdit" style="display:none">Отменить редактирование</a>
		</div>
		<div id="tasks">
			<ul></ul>
		</div>
	</div>

	<script src="main.js"></script>
</body>
</html>